
<div ng-controller="addDetailsController">

<b>Ad-Name</b>
<div ng-model="adsname"></div> 
{{name}}<br/> <br/>

<b>Ad-Descriprion</b>
<div ng-model="description"> </div> 
{{desc}}<br/> <br/>

<b>Price</b>
<div ng-model="price"></div>
{{cost}}<br/> <br/>


<b>Image 1</b></br>
<img ng-model="image0"> </img> 
<img ng-src="{{img0}}"></img><br/><br/>
</span/>

<b>Image 2</b></br>
<img ng-model="image1"> </img>
<img ng-src="{{img1}}"></img> <br/><br/>

<b>Image 3</b></br>
<img ng-model="image2"> </img> 
<img ng-src="{{img2}}"></img> <br/><br/>


<b> Created Date</b>
<div ng-model="date"> </div>
{{created}} <br/><br/>

<b> Owner</b>
<div ng-model="owner"> </div>
{{owner}} <br/><br/>

<b> Contact the Owner</b></br>

<a ng-href="mailto:{{contact}}">{{contact}}</a><br/><br/>


</div>